# bastcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bastcoin
host=127.0.0.1

#mainnet default
port=7332

#testnet default
#port=17332

#regtest default
#port=17443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=9259f06b
genesis=00000e01a13ff1dde32c6355b5dce6f374db531896896af4aa2eb4398ce1622d
input=/home/example/.bastcoin/blocks

# testnet
#netmagic=7917a293
#genesis=00000cdf500876afbf8a4bd6884eab49f894d54e8685081fa5640b38d2203103
#input=/home/example/.bastcoin/testnet3/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
